@import "tailwindcss";

@theme {
  --color-background: #F8FBFF;
  --color-card: #FFFFFF;
  --color-border: #E7EEF5;

  --color-primary: #7DA8FF;
  --color-primary-light: #EAF1FF;

  --color-success: #BEE8D7;
  --color-success-light: #F0FAF5;

  --color-warning: #FFD2A5;
  --color-warning-light: #FFF8F2;

  --color-danger: #FFB3B3;
  --color-danger-light: #FFF0F0;

  --color-foreground: #1E293B;
  --color-muted: #64748B;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}